<!DOCTYPE html>
<html>

<!-- Petrol, Diesel, Price -->
  <head>

    <meta name="description" content="Get the Latest Petrol price in India " />
    <meta name="keywords" content="Bangalore Petrol Rate, Pune Petrol Rate, Bangalore Petrol Rate,Delhi,Mumbai,</option>
    Chennai,Hyderabad,Chandigarh Petrol Prics" />
    <meta name="author" content="metatags generator">
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="1 days">
    <title>Latest Fuel Price India</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
      <%= stylesheet_link_tag "https://code.getmdl.io/1.3.0/material.indigo-pink.min.css" %>
      <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700"  %>
      <%= javascript_include_tag  "https://code.getmdl.io/1.3.0/material.min.js" %>

      <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700"  %>




    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        
  </head>

  <body>
    <%= yield %>
  </body>
  <footer> <center>
<span>
</span>
<br>
<br>

</footer>
</html>
